In [2]:
'''
You are given basic details of students: student_id, student_name, and marks.

Your task is to assign a grade to each student based on the marks. Return a result table containing all fields plus the computed grade.

Student Dataset
Column Name	Data Type
student_id	Integer
student_name	String
marks	Integer
Example Input Table
student_id	student_name	marks
1	Alice	92
2	Bob	76
Grading Rules
Assign grades based on marks as follows:

90 to 100 → Grade A
80 to 89 → Grade B
70 to 79 → Grade C
60 to 69 → Grade D
Below 60 → Grade F
You may assume marks are between 0 and 100.

Output Schema
Column Name	Data Type
student_id	Integer
student_name	String
marks	Integer
grade	String
Example Output Table
student_id	student_name	marks	grade
1	Alice	92	A
2	Bob	76	C
Starter Code
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when

spark = SparkSession.builder.getOrCreate()

# Student dataset
data_students = [
    (1,  "Alice",          100),
    (2,  "Bob",             90),
    (3,  "Charlie",         95),
    (4,  "David",           89),
    (5,  "Eve",             80),
    (6,  "Frank",           85),
    (7,  "Grace",           79),
    (8,  "Heidi",           70),
    (9,  "Ivan",            75),
    (10, "Judy",            69),
    (11, "Karl",            60),
    (12, "Leo",             65),
    (13, "Mallory",         59),
    (14, "Niaj",             1),
    (15, "Olivia",           0),
]

columns_students = ["student_id", "student_name", "marks"]
df_students = spark.createDataFrame(data_students, columns_students)

# Your logic goes here to create df_result with an extra column `grade`
df_result.show()
'''

# Initialize Spark session
from pyspark.sql import SparkSession, functions as F
spark = SparkSession.builder.appName('Spark Playground').getOrCreate()

# Student dataset
data_students = [
    (1,  "Alice",          100),
    (2,  "Bob",             90),
    (3,  "Charlie",         95),
    (4,  "David",           89),
    (5,  "Eve",             80),
    (6,  "Frank",           85),
    (7,  "Grace",           79),
    (8,  "Heidi",           70),
    (9,  "Ivan",            75),
    (10, "Judy",            69),
    (11, "Karl",            60),
    (12, "Leo",             65),
    (13, "Mallory",         59),
    (14, "Niaj",             1),
    (15, "Olivia",           0),
]

columns_students = ["student_id", "student_name", "marks"]
df_students = spark.createDataFrame(data_students, columns_students)

# Assign grades based on marks
df_result = (
  df_students.withColumn("grade", 
                         F.when(F.col("marks").between(90, 100), "A")
                         .when(F.col("marks").between(80, 89), "B")
                         .when(F.col("marks").between(70, 79), "C")
                         .when(F.col("marks").between(60, 69), "D")
                         .otherwise("F")
                        )
)

# Display results.
df_result.show()

+----------+------------+-----+-----+
|student_id|student_name|marks|grade|
+----------+------------+-----+-----+
|         1|       Alice|  100|    A|
|         2|         Bob|   90|    A|
|         3|     Charlie|   95|    A|
|         4|       David|   89|    B|
|         5|         Eve|   80|    B|
|         6|       Frank|   85|    B|
|         7|       Grace|   79|    C|
|         8|       Heidi|   70|    C|
|         9|        Ivan|   75|    C|
|        10|        Judy|   69|    D|
|        11|        Karl|   60|    D|
|        12|         Leo|   65|    D|
|        13|     Mallory|   59|    F|
|        14|        Niaj|    1|    F|
|        15|      Olivia|    0|    F|
+----------+------------+-----+-----+