In [2]:
'''
You are given two datasets: a customer balance table and a customer details table.

Your task is to retrieve details for customers who have a positive balance.

Format the balance to include comma separators for thousands and always show 2 decimal places (e.g., 15000.5 becomes 15,000.50).

Input Schema & Example
Balance Table (df_balance)
Column Name	Data Type
customer_id	Integer
balance	Double
Customer Table (df_customer)
Column Name	Data Type
customer_id	Integer
name	String
location	String
Example Input Table (Balance)
customer_id	balance
101	15000.0
102	-50.0
103	20.5
104	0.0
105	2000000
Example Input Table (Customer)
customer_id	name	location
101	John Doe	New York
102	Jane Smith	Los Angeles
103	Robert B	Chicago
104	Emily Davis	Houston
105	Michael T	San Francisco
Output Schema
Column Name	Data Type
customer_id	Integer
balance	String
name	String
location	String
Example Output Table
customer_id	balance	name	location
101	15,000.00	John Doe	New York
103	20.50	Robert B	Chicago
105	2,000,000.00	Michael T	San Francisco
Starter Code
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

# Balance Table
data_balance = [
    (101, 1500.0),
    (102, -50.0),
    (103, 20.5),
    (104, 0.0),
    (105, 200.0),
    (106, 123456.45),
    (107, 10000000.00),
    (108, 100000000.00)
]

columns_balance = ["customer_id", "balance"]
df_balance = spark.createDataFrame(data_balance, columns_balance)

# Customer Table
data_customer = [
    (101, "John Doe", "New York"),
    (102, "Jane Smith", "Los Angeles"),
    (103, "Robert B", "Chicago"),
    (104, "Emily Davis", "Houston"),
    (105, "Michael T", "San Francisco"),
    (106, "Susan R", "California"),
    (107, "Bill G", "New York"),
    (108, "Jeff B", "Houston")
]

columns_customer = ["customer_id", "name", "location"]
df_customer = spark.createDataFrame(data_customer, columns_customer)

# Your logic goes here to create df_result

display(df_result)
'''
# Initialize Spark session
from pyspark.sql import SparkSession, functions as F
spark = SparkSession.builder.appName('Spark Playground').getOrCreate()

# Balance Table
data_balance = [
    (101, 1500.0),
    (102, -50.0),
    (103, 20.5),
    (104, 0.0),
    (105, 200.0),
    (106, 123456.45),
    (107, 10000000.00),
    (108, 100000000.00)
]

columns_balance = ["customer_id", "balance"]
df_balance = spark.createDataFrame(data_balance, columns_balance)

# Customer Table
data_customer = [
    (101, "John Doe", "New York"),
    (102, "Jane Smith", "Los Angeles"),
    (103, "Robert B", "Chicago"),
    (104, "Emily Davis", "Houston"),
    (105, "Michael T", "San Francisco"),
    (106, "Susan R", "California"),
    (107, "Bill G", "New York"),
    (108, "Jeff B", "Houston")
]

columns_customer = ["customer_id", "name", "location"]
df_customer = spark.createDataFrame(data_customer, columns_customer)

df_result = (
  df_balance
  .filter(F.col("balance") > 0)
  .join(
    df_customer,
    on = "customer_id",
    how = "inner"
  )
  .withColumn("balance", F.format_number(F.col("balance"), 2)) # formats with commas + 2 decimals
)

# Display the final DataFrame using the display() function.
df_result.show()

+-----------+--------------+---------+-------------+
|customer_id|       balance|     name|     location|
+-----------+--------------+---------+-------------+
|        101|      1,500.00| John Doe|     New York|
|        103|         20.50| Robert B|      Chicago|
|        105|        200.00|Michael T|San Francisco|
|        106|    123,456.45|  Susan R|   California|
|        107| 10,000,000.00|   Bill G|     New York|
|        108|100,000,000.00|   Jeff B|      Houston|
+-----------+--------------+---------+-------------+